<div class="container">
    <h2 class="has-text-centered is-size-2 m-4 has-text-weight-bold">Create your Listing</h2>
</div>

<div class="container" *mobxAutorun>
    <div class="is-offset-one-fifth">
        <div class="columns is-multiline">
            <swan-product-card
                class="column is-3"
                *ngFor="let nft of allNfts"
                [imageUrl]="nft.imageUri"
                [animationUrl]="nft.animationUri"
                [productTitle]="nft.name"
                (click)="onSelectNft(nft)"
            ></swan-product-card>
        </div>

        <form *ngIf="selectedForListingNft" [formGroup]="createListingForm">
            <!-- NFT's max supply -->
            <div class="columns">
                <div class="column mt-4">
                    <swan-title-subtitle [title]="'NFT listing price'"></swan-title-subtitle>
                    <input pInputText type="number" formControlName="price" />
                </div>
            </div>

            <div class="columns">
                <div class="column mt-4">
                    <button
                        pButton
                        type="submit"
                        [ngClass]="{ 'opacity-50': !createListingForm.valid }"
                        class="has-background-link-dark p-2 has-background-white rounded w-32"
                        (click)="onSubmit()"
                    >
                        Create NFT
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
