<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="columns">
            <nft-marketplace-product-card
                class="column"
                *ngFor="let nft of userNfts"
                [imageUrl]="nft.imageUri"
                [animationUrl]="nft.animationUri"
                [productTitle]="nft.name"
                (click)="onSelectNft(nft)"
            ></nft-marketplace-product-card>
        </div>

        <form *ngIf="selectedForListingNft" [formGroup]="createListingForm">
            <!-- NFT's max supply -->
            <div class="columns">
                <div class="column mt-4">
                    <nft-marketplace-title-subtitle [title]="'NFT listing price'"></nft-marketplace-title-subtitle>
                    <input type="number" formControlName="price" />
                </div>
            </div>

            <div class="columns">
                <div class="column mt-4">
                    <button
                        pButton
                        hero
                        status="success"
                        type="submit"
                        [ngClass]="{ 'opacity-50': !createListingForm.valid }"
                        class="has-background-link-dark p-2 has-background-white rounded w-32"
                        (click)="onSubmit()"
                    >
                        Create NFT
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
