@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  .image-placeholder {
    position: relative;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    cursor: pointer;
    border: 3px dashed nb-theme(color-primary-100);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 175px;
    width: 175px;

    .image {
        font-size: nb-theme(placeholder-image-size);
        color: nb-theme(color-primary-transparent-500);
    }

    .loaded-image {
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }

    &:hover {
        transition: all 0.333s ease;
        background-color: nb-theme(color-primary-transparent-100);
    }
  }
}
