<div class="header-container w-100">
    <div class="row w-100">
        <div class="col-2 d-flex align-items-center">
            <span class="header-title">NFT Marketplace</span>
        </div>
        <div class="col">
            <button nbButton hero shape="semi-round" status="primary" (click)="navigateToCreateCollection()">
                <fa-icon class="mr-2" [icon]="faPaintBrush"></fa-icon>Create collection
            </button>
            <button class="ml-4" nbButton hero shape="semi-round" status="primary" (click)="navigateToCreateNFT()">
                <fa-icon class="mr-2" [icon]="faPaintBrush"></fa-icon>Create nft
            </button>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <nb-select
                (selectedChange)="walletSelected($event)"
                class="mr-4"
                hero
                placeholder="Select your wallet"
                shape="semi-round"
                status="info"
                [selected]="walletName"
                [(ngModel)]="selectedWallet"
            >
                <nb-option-group *ngFor="let chain of chainsNew" [title]="chain.name">
                    <nb-option *ngFor="let wallet of chain.wallets" [value]="wallet">{{ wallet.name }}</nb-option>
                </nb-option-group>
            </nb-select>
            <i [matMenuTriggerFor]="menu" class="fa-solid fa-user profile-thumb"></i>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span>Profile</span>
                </button>
                <button mat-menu-item disabled>
                    <span>Favorites</span>
                </button>
                <button mat-menu-item>
                    <span>Watchlist</span>
                </button>
                <button mat-menu-item>
                    <span>My collections</span>
                </button>
                <button mat-menu-item>
                    <span>Settings</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
