


@import '../../../@theme/styles/styles.scss';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  .create-collection {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: nb-theme(container-max-width);

        .col-12 {
            margin-bottom: 0.75em;
        }
    }
}
