@import '../../../@theme/styles/styles.scss';

.add-attribute-button {
    background-color: transparent !important;
    color: white !important;
    border-style: dashed;

    &:hover {
        color: #a1b4ff !important;
    }
}
