
.mat-dialog-container {
    background: rgb(32, 34, 37);
}

.select-wallet-dialog {
    color: rgb(229, 232, 235);
    visibility: visible;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 72px;
    height: calc(100% - 144px);
    .body {
        margin-bottom: 72px;
        margin-top: 24px;

        ul {
            padding-left: 0px;
            list-style-type: none;
            background-color: rgb(32, 34, 37);
            border: 1px solid rgb(21, 27, 34);
            border-radius: 10px;
            margin: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: none;

            li {
                list-style-type: none;
                width: 100%;
                border-bottom: 1px solid rgb(21, 27, 34);
                button {
                    list-style-type: none;
                    box-sizing: border-box;
                    font: inherit;
                    margin: 0px;
                    appearance: button;
                    cursor: pointer;
                    padding: 16px;
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    font-size: 100%;
                    font-family: inherit;
                    background: inherit;
                    width: 100%;
                    font-weight: 600;
                    color: rgb(229, 232, 235);
                    text-align: left;
                    border: none;
                    overflow: hidden;

                    &:hover {
                        transition: all 0.2s ease 0s;
                        box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
                        background-color: rgb(38, 43, 47);
                        color: rgb(229, 232, 235) !important;
                    }

                    .logo {
                        list-style-type: none;
                        font: inherit;
                        cursor: pointer;
                        font-size: 100%;
                        font-family: inherit;
                        font-weight: 600;
                        color: rgb(229, 232, 235);
                        text-align: left;
                        box-sizing: border-box;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        flex-direction: column;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        overflow: hidden;
                        align-self: center;
                        order: 2;
                        margin-right: 16px;
                        flex-shrink: 0;

                        img {
                            font: inherit;
                            cursor: pointer;
                            font-size: 100%;
                            font-family: inherit;
                            font-weight: 600;
                            color: rgb(229, 232, 235);
                            text-align: left;
                            box-sizing: border-box;
                            height: 24px;
                            width: 24px;
                            object-fit: contain;
                        }
                    }

                    .title {
                        font: inherit;
                        cursor: pointer;
                        font-family: inherit;
                        font-weight: 600;
                        color: rgb(229, 232, 235);
                        text-align: left;
                        box-sizing: border-box;
                        display: flex;
                        align-self: stretch;
                        flex: 1 1 auto;
                        flex-flow: column;
                        -webkit-box-pack: center;
                        justify-content: center;
                        margin-right: 16px;
                        order: 3;
                        overflow: hidden;
                        font-size: 16px;
                        align-items: flex-start;

                        span {
                            --swiper-navigation-size: 44px;
                            visibility: visible;
                            list-style-type: none;
                            cursor: pointer;
                            font-family: inherit;
                            text-align: left;
                            box-sizing: border-box;
                            font-weight: 700;
                            font-size: 14px;
                            color: rgb(255, 255, 255);
                        }
                    }

                    .chain {
                        cursor: pointer;
                        font-size: 100%;
                        font-family: inherit;
                        font-weight: 600;
                        color: rgb(229, 232, 235);
                        box-sizing: border-box;
                        align-self: stretch;
                        display: flex;
                        flex: 0 0 auto;
                        flex-flow: column;
                        -webkit-box-pack: center;
                        justify-content: center;
                        max-width: 40%;
                        order: 4;
                        overflow: hidden;
                        text-align: right;

                        span {
                            cursor: pointer;
                            font-family: inherit;
                            text-align: right;
                            box-sizing: border-box;
                            line-height: 24px;
                            font-weight: 400;
                            font-size: 14px;
                            color: rgb(138, 147, 155);

                            div {
                                cursor: pointer;
                                font-family: inherit;
                                text-align: right;
                                line-height: 24px;
                                font-weight: 400;
                                font-size: 14px;
                                box-sizing: border-box;
                                background-color: rgb(229, 232, 235);
                                color: rgb(138, 147, 155);
                                border-radius: 10px;
                                padding: 4px 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}
